### Лабораторная работа # 1

In [3]:
import findspark

In [4]:
findspark.init('C:\\spark\\spark-3.3.1-bin-hadoop2\\')
# findspark.init('C:\\spark\\spark-3.0.0-bin-hadoop2.7\\')

In [5]:
import pyspark
pyspark.__version__

'3.3.1'

In [6]:
import sys
print(sys.version)

3.8.20 (default, Oct  3 2024, 15:19:54) [MSC v.1929 64 bit (AMD64)]

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, LongType

In [8]:
import os
# os.environ['JAVA_HOME'] = 'C:\\java\\jdk-11.0.2'
os.environ['JAVA_HOME'] = 'C:\\java\\jdk'
os.environ['PATH'] = os.environ['JAVA_HOME'] + '\\bin;' + os.environ['PATH']
os.environ['SPARK_HOME'] = 'C:\\spark\\spark-3.3.1-bin-hadoop2'
os.environ['HADOOP_HOME'] = 'C:\\hadoop'
os.environ['PATH'] = os.environ['SPARK_HOME'] + '\\bin;' + os.environ['PATH']
os.environ['PATH'] = os.environ['HADOOP_HOME'] + '\\bin;' + os.environ['PATH']

print(os.environ['JAVA_HOME'])
print(os.environ['SPARK_HOME'])
print(os.environ['HADOOP_HOME'])

C:\java\jdk
C:\spark\spark-3.3.1-bin-hadoop2
C:\hadoop

In [7]:
spark = SparkSession.builder.master("local[*]").appName("CreateMenuAndCafes").getOrCreate()

### 1.1 Создание и сохранение меню с ценами:

In [8]:
# Определение данных для меню
menu_items = [
    ("Chicken Salad", 300),
    ("Burger", 350),
    ("Lemon cake", 200),
    ("Pasta", 550),
    ("Pizza", 600),
    ("Cup of tea", 120),
    ("Sushi", 700),
    ("Summer salad", 200),
    ("Latte", 170),
    ("Cup of coffee", 150),
    ("Beer", 300),
    ("Classic lasagna", 500),
    ("Grilled ribs", 650),
    ("French fries", 250),
    ("Baked fish", 480),
    ("Beefeater gin", 280),
    ("Grilled vegetables", 290),
    ("Lula kebab", 260),
    ("Apple juice", 110),
    ("Chicken soup", 320)
]

In [9]:
# Определение схемы для меню
menu_schema = StructType([
    StructField("menu_item", StringType(), True),
    StructField("price", IntegerType(), True)
])

In [10]:
# Создание DataFrame для меню
menu_df = spark.createDataFrame(menu_items, schema=menu_schema)

In [11]:
print("Menu DataFrame:")
menu_df.show(truncate=False)

Menu DataFrame:
+------------------+-----+
|menu_item         |price|
+------------------+-----+
|Chicken Salad     |300  |
|Burger            |350  |
|Lemon cake        |200  |
|Pasta             |550  |
|Pizza             |600  |
|Cup of tea        |120  |
|Sushi             |700  |
|Summer salad      |200  |
|Latte             |170  |
|Cup of coffee     |150  |
|Beer              |300  |
|Classic lasagna   |500  |
|Grilled ribs      |650  |
|French fries      |250  |
|Baked fish        |480  |
|Beefeater gin     |280  |
|Grilled vegetables|290  |
|Lula kebab        |260  |
|Apple juice       |110  |
|Chicken soup      |320  |
+------------------+-----+

In [12]:
# Сохранение DataFrame меню в CSV
menu_df.write.csv('menu_items.csv', header=True, mode="overwrite")

In [13]:
# Проверка схемы
menu_df.printSchema()

root
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)

### 1.2 Создание и сохранение кафе с координатами:

In [14]:
from pyspark.sql.types import FloatType

# Данные для городов и кафе с координатами
cafes = [
    ("Saint Petersburg", "Toscana grill", 59.925540, 30.313784),
    ("Saint Petersburg", "Palermo", 59.930497, 30.341417),
    ("Saint Petersburg", "Hunt", 59.929197, 30.343874),
    ("Moscow", "True Cost", 55.753196, 37.634998),
    ("Moscow", "J'pan", 55.754481, 37.637420),
    ("Moscow", "Lauren Parker", 55.744983, 37.661365),
    ("Kazan", "Guru", 55.791737, 49.137439),
    ("Kazan", "Leto", 55.799783, 49.151208),
    ("Kazan", "5 Green Bottles", 55.796988, 49.181225),
    ("Novosibirsk", "Beerfactory", 55.022491, 82.923117),
    ("Novosibirsk", "I dolci", 55.019978, 82.931709),
    ("Novosibirsk", "Cuba", 55.016656, 82.939158),
    ("Ekaterinburg", "Don Fun", 56.829714, 60.593745),
    ("Ekaterinburg", "The Barbara", 56.843540, 60.590836),
    ("Ekaterinburg", "EverJazz", 56.843261, 60.615235),
    ("Nizhny Novgorod", "Mukka", 56.319159, 44.010391),
    ("Nizhny Novgorod", "Mir Mir", 56.319185, 44.002597),
    ("Nizhny Novgorod", "Dodici Grill", 56.322236, 44.003440),
    ("Chelyabinsk", "Hugs", 55.157166, 61.368560),
    ("Chelyabinsk", "Belochka", 55.155684, 61.365306),
    ("Chelyabinsk", "Stories", 55.160174, 61.373781),
    ("Krasnoyarsk", "Villa Roberto", 56.010254, 92.877014),
    ("Krasnoyarsk", "Oliv'e", 56.009085, 92.876605),
    ("Krasnoyarsk", "Mike&Molly", 56.011998, 92.858881),
    ("Omsk", "Base", 54.990717, 73.363829),
    ("Omsk", "Santino", 54.991327, 73.361246),
    ("Omsk", "Malibu", 54.994935, 73.365421),
    ("Ufa", "BeerBerry", 54.759906, 56.017345),
    ("Ufa", "FARFOR", 54.706299, 55.997813),
    ("Ufa", "Leto", 54.692588, 56.004523)
]

In [15]:
# Определение схемы для кафе
cafes_schema = StructType([
    StructField("city", StringType(), True),
    StructField("facility_name", StringType(), True),
    StructField("lat", FloatType(), True),
    StructField("lng", FloatType(), True)
])

In [16]:
# Создание DataFrame для кафе
cafes_df = spark.createDataFrame(cafes, schema=cafes_schema)

In [17]:
from pyspark.sql.functions import expr
# Добавление колонки "country"
cafes_df = cafes_df.withColumn("country", expr("'Russia'"))

In [18]:
# Перестановка колонок как в примере из .doc файла
cafes_df = cafes_df.select("city", "country", "facility_name", "lat", "lng")

In [19]:
# Визуализация DataFrame кафе
print("Cafes DataFrame:")
cafes_df.show(truncate=False)

Cafes DataFrame:
+----------------+-------+---------------+---------+---------+
|city            |country|facility_name  |lat      |lng      |
+----------------+-------+---------------+---------+---------+
|Saint Petersburg|Russia |Toscana grill  |59.92554 |30.313784|
|Saint Petersburg|Russia |Palermo        |59.930496|30.341417|
|Saint Petersburg|Russia |Hunt           |59.929195|30.343874|
|Moscow          |Russia |True Cost      |55.753197|37.635   |
|Moscow          |Russia |J'pan          |55.754482|37.63742 |
|Moscow          |Russia |Lauren Parker  |55.744984|37.661366|
|Kazan           |Russia |Guru           |55.791737|49.13744 |
|Kazan           |Russia |Leto           |55.79978 |49.151207|
|Kazan           |Russia |5 Green Bottles|55.79699 |49.181225|
|Novosibirsk     |Russia |Beerfactory    |55.02249 |82.92312 |
|Novosibirsk     |Russia |I dolci        |55.019978|82.93171 |
|Novosibirsk     |Russia |Cuba           |55.016655|82.939156|
|Ekaterinburg    |Russia |Don Fun        |56.829716|60.593746|
|Ekaterinburg    |Russia |The Barbara    |56.84354 |60.590836|
|Ekaterinburg    |Russia |EverJazz       |56.84326 |60.615234|
|Nizhny Novgorod |Russia |Mukka          |56.31916 |44.01039 |
|Nizhny Novgorod |Russia |Mir Mir        |56.319183|44.002598|
|Nizhny Novgorod |Russia |Dodici Grill   |56.322235|44.00344 |
|Chelyabinsk     |Russia |Hugs           |55.157166|61.36856 |
|Chelyabinsk     |Russia |Belochka       |55.155685|61.365307|
+----------------+-------+---------------+---------+---------+
only showing top 20 rows

In [20]:
# Сохранение DataFrame кафе в CSV
cafes_df.write.csv('cafes.csv', header=True, mode="overwrite")

In [21]:
# Проверка схемы
cafes_df.printSchema()

root
 |-- city: string (nullable = true)
 |-- country: string (nullable = false)
 |-- facility_name: string (nullable = true)
 |-- lat: float (nullable = true)
 |-- lng: float (nullable = true)

In [68]:
# Остановка Spark
spark.stop()

### 1.3 Генерация заказы по заданию

In [24]:
from pyspark.sql.functions import col, expr, rand, when, explode, array, array_repeat, floor, from_unixtime, unix_timestamp
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, IntegerType, FloatType
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
import random
from datetime import datetime

In [70]:
findspark.init('C:\\spark\\spark-3.3.1-bin-hadoop2\\')
spark = SparkSession.builder.master("local[*]") \
                 .appName("Lab1") \
                 .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.3.1") \
                 .getOrCreate()

In [25]:
# Загрузка данных из CSV файлов
menu_df = spark.read.csv("menu_items.csv", header=True, inferSchema=True)
cafes_df = spark.read.csv("cafes.csv", header=True, inferSchema=True)

In [26]:
# Создание окна для нумерации строк
window_spec = Window.orderBy("facility_name")

# Присвоение уникальных идентификаторов для ресторанов
cafes_df = cafes_df.withColumn("rest_id", row_number().over(window_spec))

# Присвоение уникальных идентификаторов для меню
window_spec_menu = Window.orderBy("menu_item")
menu_df = menu_df.withColumn("menu_id", row_number().over(window_spec_menu))

In [27]:
# Визуализация схемы загруженных данных
print("Schema for cafes:")
cafes_df.printSchema()
print("Schema for menu items:")
menu_df.printSchema()

Schema for cafes:
root
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- rest_id: integer (nullable = false)

Schema for menu items:
root
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- menu_id: integer (nullable = false)

In [28]:
# Просмотр первых 5 строк DataFrame кафе
print("Sample of cafes data:")
cafes_df.show(5, truncate=False)

Sample of cafes data:
+-----------+-------+---------------+---------+---------+-------+
|city       |country|facility_name  |lat      |lng      |rest_id|
+-----------+-------+---------------+---------+---------+-------+
|Kazan      |Russia |5 Green Bottles|55.79699 |49.181225|1      |
|Omsk       |Russia |Base           |54.99072 |73.36383 |2      |
|Ufa        |Russia |BeerBerry      |54.759907|56.017345|3      |
|Novosibirsk|Russia |Beerfactory    |55.02249 |82.92312 |4      |
|Chelyabinsk|Russia |Belochka       |55.155685|61.365307|5      |
+-----------+-------+---------------+---------+---------+-------+
only showing top 5 rows

In [29]:
# Просмотр первых 5 строк DataFrame меню
print("Sample of menu items:")
menu_df.show(5, truncate=False)

Sample of menu items:
+-------------+-----+-------+
|menu_item    |price|menu_id|
+-------------+-----+-------+
|Apple juice  |110  |1      |
|Baked fish   |480  |2      |
|Beefeater gin|280  |3      |
|Beer         |300  |4      |
|Burger       |350  |5      |
+-------------+-----+-------+
only showing top 5 rows

In [30]:
# Генерация случайных дат в пределах 2024 года с использованием встроенных функций Spark
start_date = "2024-01-01 00:00:00"
end_date = "2024-12-31 23:59:59"

In [31]:
start_ts = unix_timestamp(expr(f"'{start_date}'"))
end_ts = unix_timestamp(expr(f"'{end_date}'"))

In [32]:
# Генерация 500000 заказов
order_numbers = [i for i in range(55555, 55555 + 500000)]
order_df = spark.createDataFrame([(i,) for i in order_numbers], ["order_id"])

In [33]:
orders_with_dates = order_df.withColumn(
    "datetime", from_unixtime((rand() * (end_ts - start_ts) + start_ts).cast("long"))
)

In [34]:
# Визуализация сгенерированных дат
print("Sample of orders with dates:")
orders_with_dates.show(5, truncate=False)

Sample of orders with dates:
+--------+-------------------+
|order_id|datetime           |
+--------+-------------------+
|55555   |2024-12-31 10:00:25|
|55556   |2024-06-12 23:25:01|
|55557   |2024-08-06 14:31:07|
|55558   |2024-12-08 13:10:26|
|55559   |2024-10-07 13:20:29|
+--------+-------------------+
only showing top 5 rows

In [35]:
# Подсчёт уникальных ресторанов и пунктов меню
num_restaurants = cafes_df.select("rest_id").distinct().count()
num_menu_items = menu_df.select("menu_id").distinct().count()

In [36]:
final_orders_df = orders_with_dates.withColumn("rest_id", floor(rand() * num_restaurants) + 1) \
                                   .withColumn("menu_items_count", floor(rand() * 5) + 1) \
                                   .withColumn("menu_id", floor(rand() * num_menu_items) + 1) \
                                   .withColumn("menu_sequence", expr("sequence(1, menu_items_count)")) \
                                   .withColumn("menu_id", explode("menu_sequence")) \
                                   .withColumn("menu_id", floor(rand() * num_menu_items) + 1) \
                                   .select("order_id", "rest_id", "menu_id", "datetime")

final_orders_df.show(truncate=False)

+--------+-------+-------+-------------------+
|order_id|rest_id|menu_id|datetime           |
+--------+-------+-------+-------------------+
|55555   |1      |13     |2024-12-31 10:00:25|
|55556   |10     |12     |2024-06-12 23:25:01|
|55556   |10     |16     |2024-06-12 23:25:01|
|55556   |10     |11     |2024-06-12 23:25:01|
|55557   |17     |12     |2024-08-06 14:31:07|
|55557   |17     |18     |2024-08-06 14:31:07|
|55558   |27     |11     |2024-12-08 13:10:26|
|55558   |27     |3      |2024-12-08 13:10:26|
|55559   |23     |19     |2024-10-07 13:20:29|
|55560   |23     |15     |2024-02-17 16:17:06|
|55560   |23     |13     |2024-02-17 16:17:06|
|55560   |23     |11     |2024-02-17 16:17:06|
|55561   |15     |1      |2024-02-25 12:06:24|
|55561   |15     |18     |2024-02-25 12:06:24|
|55562   |8      |3      |2024-07-18 15:18:54|
|55562   |8      |8      |2024-07-18 15:18:54|
|55562   |8      |5      |2024-07-18 15:18:54|
|55562   |8      |16     |2024-07-18 15:18:54|
|55562   |8      |13     |2024-07-18 15:18:54|
|55563   |10     |17     |2024-03-25 23:20:43|
+--------+-------+-------+-------------------+
only showing top 20 rows

In [37]:
final_df = final_orders_df.join(cafes_df, final_orders_df.rest_id == cafes_df.rest_id,"inner") \
                          .join(menu_df, final_orders_df.menu_id == menu_df.menu_id,"inner") \
                          .select("order_id", "city", "country", "facility_name", "lat", "lng", "menu_item", "price", "datetime")

In [38]:
final_df.show(30, truncate=False)

+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
|order_id|city           |country|facility_name  |lat      |lng      |menu_item         |price|datetime           |
+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
|55555   |Kazan          |Russia |5 Green Bottles|55.79699 |49.181225|Grilled vegetables|290  |2024-12-31 10:00:25|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Grilled ribs      |650  |2024-06-12 23:25:01|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Lula kebab        |260  |2024-06-12 23:25:01|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|French fries      |250  |2024-06-12 23:25:01|
|55557   |Kazan          |Russia |Leto           |55.79978 |49.151207|Grilled ribs      |650  |2024-08-06 14:31:07|
|55557   |Kazan          |Russia |Leto           |55.79978 |49.151207|Pizza             |600  |2024-08-06 14:31:07|
|55558   |Ekaterinburg   |Russia |The Barbara    |56.84354 |60.590836|French fries      |250  |2024-12-08 13:10:26|
|55558   |Ekaterinburg   |Russia |The Barbara    |56.84354 |60.590836|Beefeater gin     |280  |2024-12-08 13:10:26|
|55559   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Summer salad      |200  |2024-10-07 13:20:29|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Lemon cake        |200  |2024-02-17 16:17:06|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Grilled vegetables|290  |2024-02-17 16:17:06|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |French fries      |250  |2024-02-17 16:17:06|
|55561   |Moscow         |Russia |J'pan          |55.754482|37.63742 |Apple juice       |110  |2024-02-25 12:06:24|
|55561   |Moscow         |Russia |J'pan          |55.754482|37.63742 |Pizza             |600  |2024-02-25 12:06:24|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Beefeater gin     |280  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Classic lasagna   |500  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Burger            |350  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Lula kebab        |260  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Grilled vegetables|290  |2024-07-18 15:18:54|
|55563   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Pasta             |550  |2024-03-25 23:20:43|
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |Grilled ribs      |650  |2024-10-05 22:30:34|
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |French fries      |250  |2024-10-05 22:30:34|
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |Summer salad      |200  |2024-10-05 22:30:34|
|55565   |Nizhny Novgorod|Russia |Dodici Grill   |56.322235|44.00344 |Lula kebab        |260  |2024-10-26 00:35:40|
|55565   |Nizhny Novgorod|Russia |Dodici Grill   |56.322235|44.00344 |Chicken soup      |320  |2024-10-26 00:35:40|
|55566   |Novosibirsk    |Russia |Cuba           |55.016655|82.939156|Chicken Salad     |300  |2024-02-29 21:14:12|
|55567   |Omsk           |Russia |Base           |54.99072 |73.36383 |Lula kebab        |260  |2024-05-20 15:24:07|
|55567   |Omsk           |Russia |Base           |54.99072 |73.36383 |Pasta             |550  |2024-05-20 15:24:07|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Summer salad      |200  |2024-03-31 16:53:59|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Apple juice       |110  |2024-03-31 16:53:59|
+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
only showing top 30 rows

In [39]:
# Подсчёт количества строк в DataFrame
final_df_length = final_df.count()

# Вывод количества строк
print(f"Количество строк в DataFrame: {final_df_length}")

Количество строк в DataFrame: 1500006

In [40]:
final_df.write.csv("orders_100mb.csv", mode="overwrite", header=True)

In [41]:
file_path = "orders_100mb.csv"

# Вычисление размера файла
file_size = 0
for file_name in os.listdir(file_path):
    file_size += os.path.getsize(os.path.join(file_path, file_name))

# Преобразуем размер в мегабайты (если необходимо)
file_size_mb = file_size / (1024 * 1024)
print(f"Размер CSV файла: {file_size_mb:.2f} MB")

Размер CSV файла: 127.04 MB

In [10]:
from pyspark.sql.functions import rand, col, when, udf, array_contains, lit
from pyspark.sql.types import ArrayType, StringType
import pyspark.sql.functions as F

In [43]:
# Список колонок, которые могут быть испорчены
columns_to_spoil = ["facility_name", "menu_item", "price", "datetime", "lat", "lng"]

In [44]:
# Создаём функцию для генерации списка колонок, которые будут испорчены в каждой строке
def columns_spoil(is_spoiled_row):
    import random
    if is_spoiled_row:
        num_columns_to_spoil = random.randint(1, 3)
        return random.sample(columns_to_spoil, num_columns_to_spoil)
    else:
        return []

In [45]:
columns_spoil_udf = udf(columns_spoil, ArrayType(StringType()))

In [46]:
# Добавляем колонку, которая определяет, будет ли строка испорчена
df_spoil_flag = final_df.withColumn('is_spoiled', (rand() < 0.1))

# Применяем UDF, чтобы получить список колонок для порчи в каждой строке
df_spoil_columns = df_spoil_flag.withColumn('columns_to_spoil', columns_spoil_udf(col('is_spoiled')))

In [47]:
# Функция для порчи отдельной колонки
def spoil_column(col_name):
    # Определяем значение, на которое будем заменять
    if col_name in ['lat', 'lng']:
        spoiled_value = lit(-999.999)
    else:
        spoiled_value = lit(None)
    return when(array_contains(col('columns_to_spoil'), col_name), spoiled_value).otherwise(col(col_name))

In [48]:
# Применяем порчу к каждому столбцу из списка columns_to_spoil
for c in columns_to_spoil:
    df_spoil_columns = df_spoil_columns.withColumn(c, spoil_column(c))

In [49]:
# Удаляем вспомогательные колонки
spoiled_df = df_spoil_columns.drop('is_spoiled', 'columns_to_spoil')
spoiled_df = spoiled_df.cache()

In [50]:
final_df = spoiled_df.select("order_id", "city", "country", "facility_name", "lat", "lng", "menu_item", "price", "datetime")
final_df.show(40, 0)

+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
|order_id|city           |country|facility_name  |lat      |lng      |menu_item         |price|datetime           |
+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
|55555   |Kazan          |Russia |5 Green Bottles|55.79699 |49.181225|Grilled vegetables|290  |2024-12-31 10:00:25|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Grilled ribs      |650  |2024-06-12 23:25:01|
|55556   |Ufa            |Russia |null           |54.7063  |55.997814|Lula kebab        |260  |2024-06-12 23:25:01|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|French fries      |250  |2024-06-12 23:25:01|
|55557   |Kazan          |Russia |Leto           |55.79978 |49.151207|Grilled ribs      |650  |2024-08-06 14:31:07|
|55557   |Kazan          |Russia |Leto           |-999.999 |49.151207|Pizza             |600  |null               |
|55558   |Ekaterinburg   |Russia |The Barbara    |56.84354 |60.590836|French fries      |250  |2024-12-08 13:10:26|
|55558   |Ekaterinburg   |Russia |The Barbara    |56.84354 |60.590836|Beefeater gin     |280  |2024-12-08 13:10:26|
|55559   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Summer salad      |200  |2024-10-07 13:20:29|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Lemon cake        |200  |2024-02-17 16:17:06|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Grilled vegetables|290  |2024-02-17 16:17:06|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |French fries      |250  |2024-02-17 16:17:06|
|55561   |Moscow         |Russia |J'pan          |55.754482|37.63742 |Apple juice       |110  |2024-02-25 12:06:24|
|55561   |Moscow         |Russia |J'pan          |55.754482|37.63742 |Pizza             |600  |2024-02-25 12:06:24|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Beefeater gin     |280  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Classic lasagna   |500  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Burger            |350  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Lula kebab        |260  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Grilled vegetables|290  |2024-07-18 15:18:54|
|55563   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Pasta             |550  |2024-03-25 23:20:43|
|55564   |Kazan          |Russia |Guru           |55.791737|-999.999 |Grilled ribs      |null |null               |
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |French fries      |250  |2024-10-05 22:30:34|
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |Summer salad      |200  |2024-10-05 22:30:34|
|55565   |Nizhny Novgorod|Russia |Dodici Grill   |56.322235|-999.999 |null              |260  |null               |
|55565   |Nizhny Novgorod|Russia |Dodici Grill   |56.322235|44.00344 |Chicken soup      |320  |2024-10-26 00:35:40|
|55566   |Novosibirsk    |Russia |Cuba           |55.016655|82.939156|Chicken Salad     |300  |2024-02-29 21:14:12|
|55567   |Omsk           |Russia |Base           |54.99072 |73.36383 |Lula kebab        |260  |2024-05-20 15:24:07|
|55567   |Omsk           |Russia |Base           |54.99072 |73.36383 |null              |null |2024-05-20 15:24:07|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Summer salad      |200  |2024-03-31 16:53:59|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Apple juice       |110  |2024-03-31 16:53:59|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Grilled ribs      |650  |2024-03-31 16:53:59|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Sushi             |700  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Beefeater gin     |280  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |-999.999 |-999.999 |Chicken Salad     |300  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Beefeater gin     |280  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Summer salad      |200  |2024-04-27 08:06:22|
|55570   |Omsk           |Russia |Santino        |-999.999 |73.361244|null              |280  |2024-12-25 07:43:29|
|55570   |Omsk           |Russia |Santino        |54.991325|73.361244|Latte             |170  |2024-12-25 07:43:29|
|55570   |Omsk           |Russia |Santino        |54.991325|73.361244|Classic lasagna   |500  |2024-12-25 07:43:29|
|55571   |Chelyabinsk    |Russia |Belochka       |55.155685|61.365307|French fries      |250  |2024-01-17 03:56:26|
+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
only showing top 40 rows

In [51]:
# Запишем итоговый датафейм
final_df.write.csv('final_orders_100mb.csv', mode='overwrite', header=True)

In [22]:
from pyspark.sql.functions import isnan, isnull

In [53]:
# Условие для проверки испорченных строк
condition_spoiled = (isnull(col("city")) |
                     isnull(col("country")) |
                     isnull(col("facility_name")) |
                     isnull(col("menu_item")) |
                     isnull(col("price")) |
                     isnull(col("datetime")) |
                     (col("lat") == -999.999) |
                     (col("lng") == -999.999))

# Подсчёт строк, в которых хотя бы одно значение некорректное
spoiled_rows_count = final_df.filter(condition_spoiled).count()

print(f"Доля испорченных строк: {spoiled_rows_count / final_df.count()}")

Доля испорченных строк: 0.10010759956960172

In [54]:
final_df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- datetime: string (nullable = true)

In [55]:
final_df.count()

1500006

In [17]:
spark.stop()

### 2. Считаем, почистим и запишем в Avro и Parquet файлы партиционированые по “ДАТА -> ГОРОД“

In [18]:
# findspark.init('C:\\spark\\spark-3.3.1-bin-hadoop2\\')
spark = SparkSession.builder.master("local[*]") \
                 .appName("Lab1") \
                 .config('spark.jars', 'spark-avro_2.12-3.3.1.jar') \
                 .getOrCreate()

In [19]:
from pyspark.sql.types import StructType, StructField, LongType, StringType, DoubleType, IntegerType, TimestampType

# Определяем схему, которая соответствует данным
schema = StructType([
    StructField("order_id", LongType(), True),
    StructField("city", StringType(), True),
    StructField("country", StringType(), True),
    StructField("facility_name", StringType(), True),
    StructField("lat", DoubleType(), True),
    StructField("lng", DoubleType(), True),
    StructField("menu_item", StringType(), True),
    StructField("price", IntegerType(), True),
    StructField("datetime", TimestampType(), True)
])

# Чтение CSV файла с указанием схемы
df = spark.read.csv('final_orders_100mb.csv', header=True, schema=schema).orderBy("order_id")

df.show(35, truncate=False)
df.printSchema()

+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
|order_id|city           |country|facility_name  |lat      |lng      |menu_item         |price|datetime           |
+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
|55555   |Kazan          |Russia |5 Green Bottles|55.79699 |49.181225|Grilled vegetables|290  |2024-12-31 10:00:25|
|55556   |Ufa            |Russia |null           |54.7063  |55.997814|Lula kebab        |260  |2024-06-12 23:25:01|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|French fries      |250  |2024-06-12 23:25:01|
|55556   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Grilled ribs      |650  |2024-06-12 23:25:01|
|55557   |Kazan          |Russia |Leto           |-999.999 |49.151207|Pizza             |600  |null               |
|55557   |Kazan          |Russia |Leto           |55.79978 |49.151207|Grilled ribs      |650  |2024-08-06 14:31:07|
|55558   |Ekaterinburg   |Russia |The Barbara    |56.84354 |60.590836|Beefeater gin     |280  |2024-12-08 13:10:26|
|55558   |Ekaterinburg   |Russia |The Barbara    |56.84354 |60.590836|French fries      |250  |2024-12-08 13:10:26|
|55559   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Summer salad      |200  |2024-10-07 13:20:29|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Grilled vegetables|290  |2024-02-17 16:17:06|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |French fries      |250  |2024-02-17 16:17:06|
|55560   |Krasnoyarsk    |Russia |Oliv'e         |56.009087|92.8766  |Lemon cake        |200  |2024-02-17 16:17:06|
|55561   |Moscow         |Russia |J'pan          |55.754482|37.63742 |Apple juice       |110  |2024-02-25 12:06:24|
|55561   |Moscow         |Russia |J'pan          |55.754482|37.63742 |Pizza             |600  |2024-02-25 12:06:24|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Lula kebab        |260  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Burger            |350  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Classic lasagna   |500  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Beefeater gin     |280  |2024-07-18 15:18:54|
|55562   |Ekaterinburg   |Russia |Don Fun        |56.829716|60.593746|Grilled vegetables|290  |2024-07-18 15:18:54|
|55563   |Ufa            |Russia |FARFOR         |54.7063  |55.997814|Pasta             |550  |2024-03-25 23:20:43|
|55564   |Kazan          |Russia |Guru           |55.791737|-999.999 |Grilled ribs      |null |null               |
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |French fries      |250  |2024-10-05 22:30:34|
|55564   |Kazan          |Russia |Guru           |55.791737|49.13744 |Summer salad      |200  |2024-10-05 22:30:34|
|55565   |Nizhny Novgorod|Russia |Dodici Grill   |56.322235|44.00344 |Chicken soup      |320  |2024-10-26 00:35:40|
|55565   |Nizhny Novgorod|Russia |Dodici Grill   |56.322235|-999.999 |null              |260  |null               |
|55566   |Novosibirsk    |Russia |Cuba           |55.016655|82.939156|Chicken Salad     |300  |2024-02-29 21:14:12|
|55567   |Omsk           |Russia |Base           |54.99072 |73.36383 |Lula kebab        |260  |2024-05-20 15:24:07|
|55567   |Omsk           |Russia |Base           |54.99072 |73.36383 |null              |null |2024-05-20 15:24:07|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Apple juice       |110  |2024-03-31 16:53:59|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Summer salad      |200  |2024-03-31 16:53:59|
|55568   |Novosibirsk    |Russia |Beerfactory    |55.02249 |82.92312 |Grilled ribs      |650  |2024-03-31 16:53:59|
|55569   |Nizhny Novgorod|Russia |Mukka          |-999.999 |-999.999 |Chicken Salad     |300  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Sushi             |700  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Summer salad      |200  |2024-04-27 08:06:22|
|55569   |Nizhny Novgorod|Russia |Mukka          |56.31916 |44.01039 |Beefeater gin     |280  |2024-04-27 08:06:22|
+--------+---------------+-------+---------------+---------+---------+------------------+-----+-------------------+
only showing top 35 rows

root
 |-- order_id: long (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- datetime: timestamp (nullable = true)

In [20]:
df.count()

1500006

In [25]:
# Условие для проверки испорченных строк
condition_spoiled = (isnull(col("city")) |
                     isnull(col("country")) |
                     isnull(col("facility_name")) |
                     isnull(col("menu_item")) |
                     isnull(col("price")) |
                     isnull(col("datetime")) |
                     (col("lat") == -999.999) |
                     (col("lng") == -999.999))

# Подсчёт строк, в которых хотя бы одно значение некорректное
clear_df = df.filter(~condition_spoiled)

In [26]:
df.filter(condition_spoiled).write.csv('deadletter.csv', mode='overwrite', header=True)

In [27]:
clear_df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- datetime: timestamp (nullable = true)

In [28]:
clear_df.count()

1349844

In [29]:
from pyspark.sql.functions import to_date, date_format

In [30]:
# Извлекаем дату и время из datetime
df_date_time = clear_df.withColumn("date", to_date(col("datetime"))) \
                       .withColumn("time", date_format(col("datetime"), "HH:mm:ss"))

# Удаляем исходную колонку datetime
df_date_time = df_date_time.drop("datetime")

df_date_time.printSchema()
df_date_time.show(10, truncate=False)

root
 |-- order_id: long (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- time: string (nullable = true)

+--------+------------+-------+---------------+---------+---------+------------------+-----+----------+--------+
|order_id|city        |country|facility_name  |lat      |lng      |menu_item         |price|date      |time    |
+--------+------------+-------+---------------+---------+---------+------------------+-----+----------+--------+
|55555   |Kazan       |Russia |5 Green Bottles|55.79699 |49.181225|Grilled vegetables|290  |2024-12-31|10:00:25|
|55556   |Ufa         |Russia |FARFOR         |54.7063  |55.997814|Grilled ribs      |650  |2024-06-12|23:25:01|
|55556   |Ufa         |Russia |FARFOR         |54.7063  |55.997814|French fries      |250  |2024-06-12|23:25:01|
|55557   |Kazan       |Russia |Leto           |55.79978 |49.151207|Grilled ribs      |650  |2024-08-06|14:31:07|
|55558   |Ekaterinburg|Russia |The Barbara    |56.84354 |60.590836|Beefeater gin     |280  |2024-12-08|13:10:26|
|55558   |Ekaterinburg|Russia |The Barbara    |56.84354 |60.590836|French fries      |250  |2024-12-08|13:10:26|
|55559   |Krasnoyarsk |Russia |Oliv'e         |56.009087|92.8766  |Summer salad      |200  |2024-10-07|13:20:29|
|55560   |Krasnoyarsk |Russia |Oliv'e         |56.009087|92.8766  |Grilled vegetables|290  |2024-02-17|16:17:06|
|55560   |Krasnoyarsk |Russia |Oliv'e         |56.009087|92.8766  |Lemon cake        |200  |2024-02-17|16:17:06|
|55560   |Krasnoyarsk |Russia |Oliv'e         |56.009087|92.8766  |French fries      |250  |2024-02-17|16:17:06|
+--------+------------+-------+---------------+---------+---------+------------------+-----+----------+--------+
only showing top 10 rows

In [33]:
df_date_time.write.partitionBy("date", "city").parquet("clear_df_parquet")

In [18]:
df_date_time.write.partitionBy("date", "city").format("avro").save("clear_df_avro")

In [34]:
spark.stop()

### 3. Считаем из Avro, запишем в PostgresDB, предварительно смоделировав схему БД соответствующую 3НФ

In [10]:
spark = SparkSession.builder \
                    .appName("StarSchema") \
                    .config("spark.jars", r"postgresql-42.7.3.jar") \
                    .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.3.1") \
                    .getOrCreate()

In [13]:
avro_path = 'clear_df_avro/'
df = spark.read.format('avro').load(avro_path).orderBy("order_id")

In [22]:
df.printSchema()
df.show(10, truncate=False)

root
 |-- order_id: long (nullable = true)
 |-- country: string (nullable = true)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- date: date (nullable = true)
 |-- city: string (nullable = true)

+--------+-------+---------------+---------+---------+------------------+-----+--------+----------+------------+
|order_id|country|facility_name  |lat      |lng      |menu_item         |price|time    |date      |city        |
+--------+-------+---------------+---------+---------+------------------+-----+--------+----------+------------+
|55555   |Russia |5 Green Bottles|55.79699 |49.181225|Grilled vegetables|290  |10:00:25|2024-12-31|Kazan       |
|55556   |Russia |FARFOR         |54.7063  |55.997814|French fries      |250  |23:25:01|2024-06-12|Ufa         |
|55556   |Russia |FARFOR         |54.7063  |55.997814|Grilled ribs      |650  |23:25:01|2024-06-12|Ufa         |
|55557   |Russia |Leto           |55.79978 |49.151207|Grilled ribs      |650  |14:31:07|2024-08-06|Kazan       |
|55558   |Russia |The Barbara    |56.84354 |60.590836|French fries      |250  |13:10:26|2024-12-08|Ekaterinburg|
|55558   |Russia |The Barbara    |56.84354 |60.590836|Beefeater gin     |280  |13:10:26|2024-12-08|Ekaterinburg|
|55559   |Russia |Oliv'e         |56.009087|92.8766  |Summer salad      |200  |13:20:29|2024-10-07|Krasnoyarsk |
|55560   |Russia |Oliv'e         |56.009087|92.8766  |Grilled vegetables|290  |16:17:06|2024-02-17|Krasnoyarsk |
|55560   |Russia |Oliv'e         |56.009087|92.8766  |French fries      |250  |16:17:06|2024-02-17|Krasnoyarsk |
|55560   |Russia |Oliv'e         |56.009087|92.8766  |Lemon cake        |200  |16:17:06|2024-02-17|Krasnoyarsk |
+--------+-------+---------------+---------+---------+------------------+-----+--------+----------+------------+
only showing top 10 rows

In [14]:
from pyspark.sql.functions import col, monotonically_increasing_id, count

In [15]:
# Датафрейм со странами
countries_df = df.select('country').distinct()
window_spec_country = Window.orderBy("country")
countries_df = countries_df.withColumn("country_id", row_number().over(window_spec_country))

In [25]:
countries_df.show()

+-------+----------+
|country|country_id|
+-------+----------+
| Russia|         1|
+-------+----------+

In [16]:
# Датафрейм с городами
cities_df = df.select('city', 'country').distinct()
cities_df = cities_df.join(countries_df, on='country', how='left')
window_spec_city = Window.orderBy("city", "country_id")
cities_df = cities_df.withColumn("city_id", row_number().over(window_spec_city))
cities_df = cities_df.select("city_id", "city", "country_id")

In [27]:
cities_df.show(10, truncate=False)

+-------+----------------+----------+
|city_id|city            |country_id|
+-------+----------------+----------+
|1      |Chelyabinsk     |1         |
|2      |Ekaterinburg    |1         |
|3      |Kazan           |1         |
|4      |Krasnoyarsk     |1         |
|5      |Moscow          |1         |
|6      |Nizhny Novgorod |1         |
|7      |Novosibirsk     |1         |
|8      |Omsk            |1         |
|9      |Saint Petersburg|1         |
|10     |Ufa             |1         |
+-------+----------------+----------+

In [17]:
# Датафрейм с кафе
facility_df = df.select("facility_name", "city", "lat", "lng").distinct()
facility_df = facility_df.join(cities_df, on='city', how='left')
window_spec_facility = Window.orderBy("facility_name", "city_id")
facility_df = facility_df.withColumn("facility_id", row_number().over(window_spec_facility))
facility_df = facility_df.select("facility_id", "facility_name", "lat", "lng", "city_id")

In [29]:
facility_df.show(10, truncate=False)

+-----------+---------------+---------+---------+-------+
|facility_id|facility_name  |lat      |lng      |city_id|
+-----------+---------------+---------+---------+-------+
|1          |5 Green Bottles|55.79699 |49.181225|3      |
|2          |Base           |54.99072 |73.36383 |8      |
|3          |BeerBerry      |54.759907|56.017345|10     |
|4          |Beerfactory    |55.02249 |82.92312 |7      |
|5          |Belochka       |55.155685|61.365307|1      |
|6          |Cuba           |55.016655|82.939156|7      |
|7          |Dodici Grill   |56.322235|44.00344 |6      |
|8          |Don Fun        |56.829716|60.593746|2      |
|9          |EverJazz       |56.84326 |60.615234|2      |
|10         |FARFOR         |54.7063  |55.997814|10     |
+-----------+---------------+---------+---------+-------+
only showing top 10 rows

In [18]:
# Датафрейм с блюдами
menu_item_df = df.select("menu_item", "price").distinct()
window_spec_menu_item = Window.orderBy("menu_item", "price")
menu_item_df = menu_item_df.withColumn("menu_item_id", row_number().over(window_spec_menu_item))

In [31]:
menu_item_df.show(10, truncate=False)

+---------------+-----+------------+
|menu_item      |price|menu_item_id|
+---------------+-----+------------+
|Apple juice    |110  |1           |
|Baked fish     |480  |2           |
|Beefeater gin  |280  |3           |
|Beer           |300  |4           |
|Burger         |350  |5           |
|Chicken Salad  |300  |6           |
|Chicken soup   |320  |7           |
|Classic lasagna|500  |8           |
|Cup of coffee  |150  |9           |
|Cup of tea     |120  |10          |
+---------------+-----+------------+
only showing top 10 rows

In [19]:
# Датафрейм с заказами
order_df = df.select("order_id", "facility_name", "date", "time").distinct()
order_df = order_df.join(facility_df.select("facility_id", "facility_name"), on="facility_name", how="left") \
                   .select("order_id", "facility_id", "date", "time")

In [33]:
order_df.show(10, truncate=False)

+--------+-----------+----------+--------+
|order_id|facility_id|date      |time    |
+--------+-----------+----------+--------+
|414623  |29         |2024-06-07|04:06:27|
|399133  |28         |2024-01-05|20:51:25|
|210770  |2          |2024-12-07|06:34:53|
|553267  |30         |2024-02-09|11:36:39|
|538283  |10         |2024-09-20|16:48:13|
|526791  |3          |2024-05-12|03:54:26|
|553382  |3          |2024-09-20|05:58:39|
|534163  |6          |2024-10-04|03:55:45|
|224247  |16         |2024-09-03|13:29:23|
|531869  |23         |2024-06-18|02:04:06|
+--------+-----------+----------+--------+
only showing top 10 rows

In [20]:
# Датафрейм с деталями заказов
order_detail_df = df.groupBy("order_id", "menu_item", "price").agg(count("*").alias("quantity"))
order_detail_df = order_detail_df.join(menu_item_df, on=["menu_item", "price"], how="left")
window_spec_order_detail = Window.orderBy("order_id", "menu_item_id")
order_detail_df = order_detail_df.withColumn("order_detail_id", row_number().over(window_spec_order_detail))
order_detail_df = order_detail_df.select("order_detail_id", "order_id", "menu_item_id", "quantity")

In [35]:
order_detail_df.show(10, truncate=False)

+---------------+--------+------------+--------+
|order_detail_id|order_id|menu_item_id|quantity|
+---------------+--------+------------+--------+
|1              |55555   |13          |1       |
|2              |55556   |11          |1       |
|3              |55556   |12          |1       |
|4              |55557   |12          |1       |
|5              |55558   |3           |1       |
|6              |55558   |11          |1       |
|7              |55559   |19          |1       |
|8              |55560   |11          |1       |
|9              |55560   |13          |1       |
|10             |55560   |15          |1       |
+---------------+--------+------------+--------+
only showing top 10 rows

In [36]:
print('cities_df schema')
cities_df.printSchema()
print('----------')
print('facility_df schema')
facility_df.printSchema()
print('----------')
print('menu_item_df schema')
menu_item_df.printSchema()
print('----------')
print('order_df schema')
order_df.printSchema()
print('----------')
print('order_detail_df schema')
order_detail_df.printSchema()

cities_df schema
root
 |-- city_id: integer (nullable = false)
 |-- city: string (nullable = true)
 |-- country_id: integer (nullable = true)

----------
facility_df schema
root
 |-- facility_id: integer (nullable = false)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)
 |-- city_id: integer (nullable = true)

----------
menu_item_df schema
root
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- menu_item_id: integer (nullable = false)

----------
order_df schema
root
 |-- order_id: long (nullable = true)
 |-- facility_id: integer (nullable = true)
 |-- date: date (nullable = true)
 |-- time: string (nullable = true)

----------
order_detail_df schema
root
 |-- order_detail_id: integer (nullable = false)
 |-- order_id: long (nullable = true)
 |-- menu_item_id: integer (nullable = true)
 |-- quantity: long (nullable = false)

In [22]:
jdbc_url = "jdbc:postgresql://localhost/OrderDB"
connection_properties = {
    "user": "postgres",
    "password": "password",
    "driver": "org.postgresql.Driver"
}

In [23]:
countries_df.write.jdbc(url=jdbc_url, table="countries", mode="overwrite", properties=connection_properties)
cities_df.write.jdbc(url=jdbc_url, table="cities", mode="overwrite", properties=connection_properties)
facility_df.write.jdbc(url=jdbc_url, table="facility", mode="overwrite", properties=connection_properties)
menu_item_df.write.jdbc(url=jdbc_url, table="menu_Item", mode="overwrite", properties=connection_properties)
order_df.write.jdbc(url=jdbc_url, table="orders", mode="overwrite", properties=connection_properties)
order_detail_df.write.jdbc(url=jdbc_url, table="orders_details", mode="overwrite", properties=connection_properties)

In [24]:
spark.stop()

### 4. Сделаем то же самое, но приведем к денормализованной схеме звезда(Star)

In [25]:
spark = SparkSession.builder \
    .appName("StarSchema") \
    .config("spark.jars", "postgresql-42.7.3.jar") \
    .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.3.1") \
    .getOrCreate()

In [26]:
avro_path = 'clear_df_avro/'
df = spark.read.format('avro').load(avro_path)

In [27]:
# Таблица измерений продуктов хранит уникальные продукты и их цены. 
# Она позволяет связать заказы с конкретными продуктами через product_id.
product_df = df.select('menu_item', 'price').distinct()
window_spec_product = Window.orderBy("menu_item", "price")
product_df = product_df.withColumn("product_id", row_number().over(window_spec_product))
product_df = product_df.select("product_id", "menu_item", "price")

In [28]:
product_df.printSchema()
product_df.show(10, truncate=False)

root
 |-- product_id: integer (nullable = false)
 |-- menu_item: string (nullable = true)
 |-- price: integer (nullable = true)

+----------+---------------+-----+
|product_id|menu_item      |price|
+----------+---------------+-----+
|1         |Apple juice    |110  |
|2         |Baked fish     |480  |
|3         |Beefeater gin  |280  |
|4         |Beer           |300  |
|5         |Burger         |350  |
|6         |Chicken Salad  |300  |
|7         |Chicken soup   |320  |
|8         |Classic lasagna|500  |
|9         |Cup of coffee  |150  |
|10        |Cup of tea     |120  |
+----------+---------------+-----+
only showing top 10 rows

In [29]:
# Создаем таблицу местоположений
# Таблица измерения местоположений содержит уникальные комбинации городов и стран
location_df = df.select('city', 'country').distinct()
window_spec_location = Window.orderBy("country", "city")
location_df = location_df.withColumn("location_id", row_number().over(window_spec_location))
location_df = location_df.select("location_id", "city", "country")

In [30]:
location_df.printSchema()
location_df.show(10, truncate=False)

root
 |-- location_id: integer (nullable = false)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)

+-----------+----------------+-------+
|location_id|city            |country|
+-----------+----------------+-------+
|1          |Chelyabinsk     |Russia |
|2          |Ekaterinburg    |Russia |
|3          |Kazan           |Russia |
|4          |Krasnoyarsk     |Russia |
|5          |Moscow          |Russia |
|6          |Nizhny Novgorod |Russia |
|7          |Novosibirsk     |Russia |
|8          |Omsk            |Russia |
|9          |Saint Petersburg|Russia |
|10         |Ufa             |Russia |
+-----------+----------------+-------+

In [31]:
# Создаем размерность заведений
# Таблица измерений заведений включает информацию о каждом заведении.
facility_df = df.select('facility_name', 'lat', 'lng').distinct()
window_spec_facility = Window.orderBy("facility_name")
facility_df = facility_df.withColumn("facility_id", row_number().over(window_spec_facility))
facility_df = facility_df.select("facility_id", "facility_name", "lat", "lng")

In [32]:
facility_df.printSchema()
facility_df.show(10, truncate=False)

root
 |-- facility_id: integer (nullable = false)
 |-- facility_name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- lng: double (nullable = true)

+-----------+---------------+---------+---------+
|facility_id|facility_name  |lat      |lng      |
+-----------+---------------+---------+---------+
|1          |5 Green Bottles|55.79699 |49.181225|
|2          |Base           |54.99072 |73.36383 |
|3          |BeerBerry      |54.759907|56.017345|
|4          |Beerfactory    |55.02249 |82.92312 |
|5          |Belochka       |55.155685|61.365307|
|6          |Cuba           |55.016655|82.939156|
|7          |Dodici Grill   |56.322235|44.00344 |
|8          |Don Fun        |56.829716|60.593746|
|9          |EverJazz       |56.84326 |60.615234|
|10         |FARFOR         |54.7063  |55.997814|
+-----------+---------------+---------+---------+
only showing top 10 rows

In [33]:
# Создаем фактическую таблицу заказов.
# Центральная часть схемы "звезда"
order_fact_df = df.groupBy("order_id", "facility_name", "menu_item", "price", "city", "country").agg(count("*").alias("quantity"))
order_fact_df = order_fact_df.join(product_df, on=['menu_item', 'price'], how='left')
order_fact_df = order_fact_df.join(facility_df, on=['facility_name'], how='left')
order_fact_df = order_fact_df.join(location_df, on=['city', 'country'], how='left')
order_fact_df = order_fact_df.select('order_id', 'facility_id', 'product_id', 'location_id', 'quantity')

In [34]:
order_fact_df.printSchema()
order_fact_df.show(10, truncate=False)

root
 |-- order_id: long (nullable = true)
 |-- facility_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- location_id: integer (nullable = true)
 |-- quantity: long (nullable = false)

+--------+-----------+----------+-----------+--------+
|order_id|facility_id|product_id|location_id|quantity|
+--------+-----------+----------+-----------+--------+
|529755  |23         |18        |4          |1       |
|522251  |12         |18        |1          |1       |
|459951  |15         |11        |5          |1       |
|552960  |30         |11        |4          |1       |
|551426  |18         |14        |10         |1       |
|551426  |17         |14        |10         |1       |
|121293  |8          |14        |2          |1       |
|548610  |30         |16        |4          |1       |
|552674  |10         |4         |10         |2       |
|425348  |29         |3         |5          |1       |
+--------+-----------+----------+-----------+--------+
only showing top 10 rows

In [35]:
jdbc_url = "jdbc:postgresql://localhost/OrderStar"
connection_properties = {
    "user": "postgres",
    "password": "password",
    "driver": "org.postgresql.Driver"
}

In [36]:
product_df.write.jdbc(url=jdbc_url, table="dim_product", mode="overwrite", properties=connection_properties)
location_df.write.jdbc(url=jdbc_url, table="dim_location", mode="overwrite", properties=connection_properties)
facility_df.write.jdbc(url=jdbc_url, table="dim_facility", mode="overwrite", properties=connection_properties)
order_fact_df.write.jdbc(url=jdbc_url, table="fact_orders", mode="overwrite", properties=connection_properties)

In [25]:
spark.stop()

### 5. Читаем из Parquet файла, генерируем заказы в одну запись, добавляющая сумму заказа в качестве поля на верхний уровень и массив позиций заказов в качестве полей и записывающая результат в MongoDB

In [1]:
parquet_path = "clear_df_parquet"

In [73]:
# spark = SparkSession.builder \
#     .appName("MongoTask") \
#     .config("spark.jars", "postgresql-42.7.3.jar") \
#     .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:10.3.0')\
#     .config('spark.mongodb.write.connection.uri', 'mongodb://127.0.0.1/orderdb')\
#     .getOrCreate()

In [9]:
spark = SparkSession.builder \
                    .appName("MongoTask") \
                    .config("spark.jars", "postgresql-42.7.3.jar") \
                    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:10.1.1') \
                    .config('spark.mongodb.write.connection.uri', 'mongodb://localhost:27017/orderdb')\
                    .getOrCreate()

In [10]:
df = spark.read.parquet(parquet_path)

In [41]:
df.show(10, truncate=False)

+--------+-------+-------------+---------+---------+---------------+-----+--------+----------+----------------+
|order_id|country|facility_name|lat      |lng      |menu_item      |price|time    |date      |city            |
+--------+-------+-------------+---------+---------+---------------+-----+--------+----------+----------------+
|459572  |Russia |Toscana grill|59.92554 |30.313784|Pizza          |600  |00:49:22|2024-06-16|Saint Petersburg|
|459572  |Russia |Toscana grill|59.92554 |30.313784|Burger         |350  |00:49:22|2024-06-16|Saint Petersburg|
|459572  |Russia |Toscana grill|59.92554 |30.313784|Cup of coffee  |150  |00:49:22|2024-06-16|Saint Petersburg|
|461598  |Russia |Hunt         |59.929195|30.343874|Classic lasagna|500  |07:14:28|2024-06-16|Saint Petersburg|
|461598  |Russia |Hunt         |59.929195|30.343874|Sushi          |700  |07:14:28|2024-06-16|Saint Petersburg|
|461598  |Russia |Hunt         |59.929195|30.343874|Apple juice    |110  |07:14:28|2024-06-16|Saint Petersburg|
|461927  |Russia |Palermo      |59.930496|30.341417|Beer           |300  |13:36:00|2024-06-16|Saint Petersburg|
|461927  |Russia |Palermo      |59.930496|30.341417|Pasta          |550  |13:36:00|2024-06-16|Saint Petersburg|
|461927  |Russia |Palermo      |59.930496|30.341417|Cup of tea     |120  |13:36:00|2024-06-16|Saint Petersburg|
|462207  |Russia |Palermo      |59.930496|30.341417|Chicken soup   |320  |22:38:20|2024-06-16|Saint Petersburg|
+--------+-------+-------------+---------+---------+---------------+-----+--------+----------+----------------+
only showing top 10 rows

In [11]:
from pyspark.sql.functions import sum, collect_list, struct, count
from pyspark.sql.functions import first

In [12]:
# Генерируем общую сумму заказа для каждого order_id
total_df = df.groupBy("order_id", "date") \
             .agg(sum("price").alias("total_price"))

In [44]:
total_df.show(10, truncate=False)

+--------+----------+-----------+
|order_id|date      |total_price|
+--------+----------+-----------+
|528132  |2024-02-09|1450       |
|530823  |2024-08-08|800        |
|482288  |2024-05-24|1450       |
|432661  |2024-05-23|870        |
|548196  |2024-10-27|1380       |
|547869  |2024-08-08|1180       |
|161163  |2024-02-29|1150       |
|457841  |2024-07-18|1050       |
|448633  |2024-12-21|1370       |
|290324  |2024-08-24|1400       |
+--------+----------+-----------+
only showing top 10 rows

In [13]:
# Генерируем позиции заказов и собираем их в массив
items_df = df.groupBy("order_id", "menu_item", "price") \
             .agg(count("*").alias("quantity")) \
             .groupBy("order_id") \
             .agg(collect_list(struct("menu_item", "price", "quantity")).alias("order_items"))

In [47]:
items_df.show(10, truncate=False)

+--------+-------------------------------------------------------------------------------------------------------------------+
|order_id|order_items                                                                                                        |
+--------+-------------------------------------------------------------------------------------------------------------------+
|55566   |[{Chicken Salad, 300, 1}]                                                                                          |
|55604   |[{Grilled ribs, 650, 1}, {Baked fish, 480, 1}, {Beefeater gin, 280, 1}, {Pasta, 550, 1}, {Classic lasagna, 500, 1}]|
|55671   |[{Lula kebab, 260, 1}, {Apple juice, 110, 1}, {Pizza, 600, 1}]                                                     |
|55700   |[{Classic lasagna, 500, 1}, {Chicken Salad, 300, 1}]                                                               |
|55709   |[{Grilled vegetables, 290, 1}, {Burger, 350, 1}, {Beefeater gin, 280, 1}, {Pasta, 550, 1}]                         |
|55715   |[{Beefeater gin, 280, 1}, {Sushi, 700, 1}, {Lula kebab, 260, 1}]                                                   |
|55752   |[{Pizza, 600, 1}, {Grilled vegetables, 290, 1}, {Apple juice, 110, 1}]                                             |
|55797   |[{Grilled ribs, 650, 1}, {Chicken soup, 320, 1}]                                                                   |
|55813   |[{Classic lasagna, 500, 1}, {Beefeater gin, 280, 1}]                                                               |
|55841   |[{Lula kebab, 260, 1}, {Lemon cake, 200, 1}, {Beer, 300, 1}, {Apple juice, 110, 1}]                                |
+--------+-------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [14]:
final_df = total_df.join(items_df, "order_id") \
                   .select("order_id", "date", "total_price", "order_items")

In [50]:
final_df.show(10, truncate=False)

+--------+----------+-----------+-------------------------------------------------------------------------------------------------------------------+
|order_id|date      |total_price|order_items                                                                                                        |
+--------+----------+-----------+-------------------------------------------------------------------------------------------------------------------+
|55566   |2024-02-29|300        |[{Chicken Salad, 300, 1}]                                                                                          |
|55604   |2024-01-30|2460       |[{Grilled ribs, 650, 1}, {Baked fish, 480, 1}, {Beefeater gin, 280, 1}, {Pasta, 550, 1}, {Classic lasagna, 500, 1}]|
|55671   |2024-08-08|970        |[{Lula kebab, 260, 1}, {Apple juice, 110, 1}, {Pizza, 600, 1}]                                                     |
|55700   |2024-01-29|800        |[{Classic lasagna, 500, 1}, {Chicken Salad, 300, 1}]                                                               |
|55709   |2024-04-26|1470       |[{Grilled vegetables, 290, 1}, {Burger, 350, 1}, {Beefeater gin, 280, 1}, {Pasta, 550, 1}]                         |
|55715   |2024-07-05|1240       |[{Beefeater gin, 280, 1}, {Sushi, 700, 1}, {Lula kebab, 260, 1}]                                                   |
|55752   |2024-05-20|1000       |[{Pizza, 600, 1}, {Grilled vegetables, 290, 1}, {Apple juice, 110, 1}]                                             |
|55797   |2024-09-19|970        |[{Grilled ribs, 650, 1}, {Chicken soup, 320, 1}]                                                                   |
|55813   |2024-02-16|780        |[{Classic lasagna, 500, 1}, {Beefeater gin, 280, 1}]                                                               |
|55841   |2024-04-04|870        |[{Lula kebab, 260, 1}, {Lemon cake, 200, 1}, {Beer, 300, 1}, {Apple juice, 110, 1}]                                |
+--------+----------+-----------+-------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [15]:
import pyspark
print(pyspark.__version__)

3.3.1

In [16]:
final_df.write \
        .format("mongodb") \
        .mode("overwrite") \
        .option('database', 'orderdb') \
        .option('collection', 'orders') \
        .save()